html {
  line-height : 1.15;
  }
  body {
  margin : 0;
  }
  main {
  display : block;
  }
  h1 {
  font-size : 2em;
  margin : 0.67em 0;
  }
  hr {
  box-sizing : content-box;
  height : 0;
  overflow : visible;
  }
  pre {
  font-family : monospace, monospace;
  font-size : 1em;
  }
  a {
  background-color : transparent;
  }
  abbr[title] {
  border-bottom : none;
  text-decoration : underline;
  text-decoration : underline dotted;
  }
  b, strong {
  font-weight : bolder;
  }
  code, kbd, samp {
  font-family : monospace, monospace;
  font-size : 1em;
  }
  small {
  font-size : 80%;
  }
  sub, sup {
  font-size : 75%;
  line-height : 0;
  position : relative;
  vertical-align : baseline;
  }
  sub {
  bottom : -0.25em;
  }
  sup {
  top : -0.5em;
  }
  img {
  border-style : none;
  }
  button, input, optgroup, select, textarea {
  font-family : inherit;
  font-size : 100%;
  line-height : 1.15;
  margin : 0;
  }
  button, input {
  overflow : visible;
  }
  button, select {
  text-transform : none;
  }
  button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style : none;
  padding : 0;
  }
  button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline : 1px dotted ButtonText;
  }
  fieldset {
  padding : 0.35em 0.75em 0.625em;
  }
  legend {
  box-sizing : border-box;
  color : inherit;
  display : table;
  max-width : 100%;
  padding : 0;
  white-space : normal;
  }
  progress {
  vertical-align : baseline;
  }
  textarea {
  overflow : auto;
  }
  [type="checkbox"], [type="radio"] {
  box-sizing : border-box;
  padding : 0;
  }
  [type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height : auto;
  }
  [type="search"] {
  outline-offset : -2px;
  }
  ::-webkit-file-upload-button {
  font : inherit;
  }
  details {
  display : block;
  }
  summary {
  display : list-item;
  }
  template {
  display : none;
  }
  [hidden] {
  display : none;
  }
  body {
  font-family : 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display : grid;
  max-width : 800px;
  margin : 0 auto;
  padding : 4em;
  text-align : center;
  justify-items : center;
  }
  header {
  background : rgb(50, 53, 117, 0.795);
  width : 100%;
  height : 140px;
  overflow : hidden;
  padding : 30px;
  }
  header img {
  width : 130px;
  height : 150px;
  float : left;
  padding-left : 150px;
  }
  header h1 {
  padding : 50px;
  padding-right : 150px;
  }
  nav {
  background : rgb(24, 23, 23);
  width : 100%;
  padding : 4%;
  }
  nav a {
  color : rgb(248, 213, 11);
  line-height : 50px;
  display : block;
  }
  h2 {
  border-bottom : 1px solid black;
  }
  main {
  display : grid;
  gap : 30px;
  width : 100%;
  overflow : hidden;
  }
  section {
  border-style : outset;
  }
  ul {
  text-align : left;
  list-style-type : none;
  }
  footer {
  background : rgb(50, 53, 117, 0.795);
  width : 100%;
  height : 140px;
  margin-top : 50px;
  overflow : hidden;
  padding : 30px;
  }